<div class="container-forms">
    <div class="row">
        <div class="col">
            <div class="svg-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161 161"><defs><style>.cls-1{fill:#ccc;}.cls-2{fill:#70064a;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><circle class="cls-1" cx="80.5" cy="80.5" r="80.5"/><path class="cls-2" d="M66.75,72.11v28.5a6.94,6.94,0,0,1-13.87,0V72.11a10.7,10.7,0,0,1-2.24-13.72,10.83,10.83,0,0,1,4.21-4h0a1,1,0,0,1,1.31.41.83.83,0,0,1,.11.46v9.52h6.85V55.16a1,1,0,0,1,1-1,1,1,0,0,1,.46.12,10.71,10.71,0,0,1,6,9.62,10.57,10.57,0,0,1-1.1,4.72,10.71,10.71,0,0,1-2.69,3.46Zm-1.94,28.5v-29h0a1,1,0,0,1,.38-.77l.59.77-.59-.77a8.87,8.87,0,0,0,2.52-3.08,8.82,8.82,0,0,0-.44-8.52,8.87,8.87,0,0,0-2.21-2.4v8.91a1,1,0,0,1-1,1H55.3a1,1,0,0,1-1-1V57.07a8.77,8.77,0,0,0,.06,13.77,1,1,0,0,1,.43.81v29a5,5,0,0,0,10,0Z"/><path class="cls-2" d="M59.82,96.63a4,4,0,0,1,4,4A4,4,0,0,1,57,103.38a4,4,0,0,1-1.16-2.79,4,4,0,0,1,4-4Zm1.42,2.53a2,2,0,0,0-1.42-.59,2,2,0,0,0-2,2,2,2,0,0,0,.59,1.42,2,2,0,0,0,1.43.59,2,2,0,0,0,2-2A2,2,0,0,0,61.24,99.16Z"/><path class="cls-2" d="M99.56,64.33c-.06,1.38-.12,2.68-.17,4-.51,11.68-1.1,25.31,0,36.14h0a1,1,0,0,1-.19.69,4.47,4.47,0,0,1-1.35,1.28,9.09,9.09,0,0,1-8.67,0,4.31,4.31,0,0,1-1.4-1.35l.82-.52-.82.52a1,1,0,0,1-.13-.69c1.09-10.82.5-24.42,0-36.07-.06-1.26-.11-2.51-.17-3.86h0a1,1,0,0,1,.93-1,.91.91,0,0,1,.41.08,8,8,0,0,1,1,.4l3.58.12H97.4l.1-.12.44-.44.65.72-.65-.72a1,1,0,0,1,1.37.07.94.94,0,0,1,.25.76Zm-2.11,3.92c0-.77.07-1.52.1-2.25H93.31l-3.77-.13h-.07c0,.76.07,1.57.1,2.38.51,11.61,1.1,25.14,0,36.05a2.81,2.81,0,0,0,.61.5,7.23,7.23,0,0,0,6.61,0,3.08,3.08,0,0,0,.61-.5c-1.07-10.91-.48-24.44,0-36Zm-8-3.25h0l.06-.1Z"/><path class="cls-2" d="M108.31,56.13a2.78,2.78,0,0,0-1.69.57,2.87,2.87,0,0,0-1,1.49l-.93-.26.93.26a.94.94,0,0,1-.25.42c-2.8,3.32-7.28-.68-8.42-1.8-8.21-.56-12.2,1.44-12.61,1.66-6.21,4.34-8,7-8.35,8.36,7.26-5.69,12.62-3.49,13.78-2.89l3.58.12h4c2.75-3.18,6.4-1.85,7.45-1.37a1,1,0,0,1,.78.74,2.89,2.89,0,0,0,1,1.44,2.83,2.83,0,0,0,1.69.56.92.92,0,0,0,.92-.91V57.05a.92.92,0,0,0-.92-.92Zm-2.85-1a4.67,4.67,0,0,1,2.85-1,2.87,2.87,0,0,1,2.86,2.86v7.47a2.87,2.87,0,0,1-2.86,2.85,4.79,4.79,0,0,1-4.4-3,4.25,4.25,0,0,0-5.26,1.2.93.93,0,0,1-.79.42H93.31l-3.77-.13a1,1,0,0,1-.56-.15h0s-5.21-3.31-13,3.65l-.14.12a1,1,0,0,1-1.35-.21h0s-3.13-4,8.74-12.37a.91.91,0,0,1,.16-.11h0s4.62-2.61,14-1.9a1,1,0,0,1,.69.31h0s3.89,4.17,5.74,2.23a4.84,4.84,0,0,1,1.65-2.28Z"/><path class="cls-2" d="M81.1,18.57l26.25,15.15h0L133.6,48.88l1,.56v62.85l-1,.56L107.35,128h0L81.1,143.17l-1,.56-1-.56L52.91,128h0L26.67,112.85l-1-.56V49.44l1-.56L52.91,33.73h0L79.16,18.57l1-.56Zm24.31,18.5L80.13,22.48,54.85,37.07h0L29.57,51.67v58.4l25.27,14.59h0l25.28,14.6,25.28-14.6h0l25.27-14.59V51.67l-25.27-14.6Z"/></g></g></svg>
            </div>
        </div>
            <div class="col">
                <%= form_for @team do |f| %>
                <%= f.fields_for :member_teams do |ff| %>
                <%= f.text_field :name %>
                <%= f.collection_select :category, ["Work", "Personal", "Social", "Family"], :itself, :itself  %>
              
                <% @members.each do |member| %>
            </div>
          
            <div class="col">
               <ol><%= f.label :category %></ol>
            <ol><%= f.label :name, 'Team Name:' %></ol>
        <ol><%= ff.label :member_id %></ol>
    <ol><%= ff.check_box :member_id, { multiple: true }, member.id, false %> <%= member.name %>
                <% end %>
                <% end %>
                
            </div>

                <%= f.submit %>
                <% end %>
        </div>
    </div>
</div>